<div class="featurewraper">
		<div class="featureda"><h2>2016 COLLECTION</h2></div>
		<div class="featuredb"><h2>SPECIALS</h2></div>
		
		
		
		</div>
		
		<div class="featurewraper">
		<div class="featuredc"><h2>Some Product</h2><img class="featureimg" src="/assets/ring.jpg"  alt="an image"/><p>Lorem ipsum dolor sit amet, ne sea magna dissentiunt, malorum tincidunt an pri. Eu dicam tempor audire his, ius populo fastidii ut</p>
		<p><button type="button">Details!</button></p></div>
		<div class="featuredc"><h2>Some Product</h2><img class="featureimg" src="/assets/ring.jpg"  alt="an image"/><p>Lorem ipsum dolor sit amet, ne sea magna dissentiunt, malorum tincidunt an pri. Eu dicam tempor audire his, ius populo fastidii ut</p>
		<p><button type="button">Details!</button></p></div>
		<div class="featuredc"><h2>Some Product</h2><img class="featureimg" src="/assets/ring.jpg"  alt="an image"/><p>Lorem ipsum dolor sit amet, ne sea magna dissentiunt, malorum tincidunt an pri. Eu dicam tempor audire his, ius populo fastidii ut</p>
		<p><button type="button">Details!</button></p></div>
		<div class="featuredc"><h2>Some Product</h2><img class="featureimg" src="/assets/ring.jpg"  alt="an image"/><p>Lorem ipsum dolor sit amet, ne sea magna dissentiunt, malorum tincidunt an pri. Eu dicam tempor audire his, ius populo fastidii ut</p>
		<p><button type="button">Details!</button></p></div>
		
		</div>

