body
{
margin: 0;
padding: 0;
background-color:#F4F4F4;
}






.navwraper
{
background-color:#ffffff;
overflow : hidden; 
width : 100%;
text-align : center;
list-style: none;
margin-left : auto; 
margin-right : auto; 
display: block;
padding-left: 0;
margin: 0 auto;
} 




.nav { 
width: 20%;
float: left;
color : #555; 
text-decoration : none; 
font-size : 28px; 
font-family : Century; 
font-weight : normal; 
text-align : center; 
font-style : normal; 
margin-left : auto; 
margin-right : auto; 
line-height: 40px;
height:40px;

 
}



.nav:hover {
background-color:#5D5D5D;
color : #ffffff;
width: 20%;
height:40px;
}




.wraper
{

overflow : hidden; 
width : 80%;
margin-left : auto; 
margin-right : auto;
margin-top:10px;
box-shadow: 1px 10px 5px #666666;
} 

.wraper p{ 
width : 100%; 
color : #000000; 
margin-right : 10px;
text-decoration : none; 
font-size : 16px; 
font-family : arial; 
font-weight : bold; 
text-align : center; 
font-style : normal; 
margin-left : 10px; 
margin-right : auto; 
margin-top : 15px; 
margin-bottom : 2px; 
} 



.header
{
float:left;
background-color:#ffffff;
overflow : hidden; 
width : 100%;
margin-left : auto; 
margin-right : auto;
box-shadow: 10px 10px 5px #666666;
} 


.contacts { 
width : 25%;
float:left;
overflow : hidden; 
margin-top:15px;
text-align:center;
} 

.contacts h2{ 
 
} 

.logoimg { 
width: 80%;
margin-left : auto; 
margin-right : auto;
}



.logo { 
width: 50%;
text-align:center;
float:left;
overflow: hidden; 
}

.socialimg { 
width: 10%;
padding:5px;
margin-left : auto; 
margin-right : auto;
display:inline-block;
margin-top:15px;
}

.contactimg { 
width: 10%;
padding:5px;
float:none;
margin-top:35px;
}


.rotatimg { 
width: 100%;
margin-left : auto; 
margin-right : auto;

}

.social { 
width : 25%;
float:left;
text-align:center;
overflow : hidden; 
text-align:center;

} 

.rotator
{
float:left;
background-color:#666;
overflow : hidden; 
width : 100%;
margin-left : auto; 
margin-right : auto;
margin-top:15px;
} 

.main
{
float:left;
background-color:#ffffff;
overflow : hidden; 
width : 100%;
margin-left : auto; 
margin-right : auto;
} 

.mainimg { 
width: 30%;
margin-left : auto; 
margin-right : auto;
float:left;
padding:10px;
}

.main p{ 
width : 95%; 
color : #555; 
margin-right : 10px;
text-decoration : none; 
font-size : 16px; 
font-family : arial; 
font-weight : normal; 
text-align : justify; 
font-style : normal; 
margin-left : 10px; 
margin-right : auto; 
margin-top : 15px; 
margin-bottom : 2px; 
} 

.featurewraper
{
overflow : hidden; 
width : 100%;
margin-left : auto; 
margin-right : auto;
text-align:center;
margin-top:10px;
} 

.wraper h2{ 
width : 100%; 
color : #939393; 
text-decoration : none; 
font-size : 28px; 
font-family : arial; 
font-weight : bold; 
text-align : center; 
font-style : normal; 
margin-left : auto; 
margin-right : auto; 
margin-top : 15px; 
margin-bottom : 12px; 
} 


.featurewraper
{
	background:#ffffff;
overflow : hidden; 
width : 100%;
margin-left : auto; 
margin-right : auto;
text-align:center;
margin-top:10px;
} 

.featureda h2{
}

.featureda { 
background-image: url("/assets/jewel.jpg");
min-height:500px;
float: left;
width : 60%;
text-align:center;
overflow : hidden; 
margin-top:10px;
} 

.featuredb { 
background-image: url("/assets/model.jpg");
min-height:500px;
float:right;
width : 39%;
overflow : hidden; 
text-align:center;
margin-top:10px;
} 

.featureda h2{ 
background-color:rgba(0, 0, 0, 0.6);
line-height: 500px;
width : 100%; 
color : #4775FF; 
text-decoration : none; 
font-size : 66px; 
font-family : Constantia; 
font-weight : Normal; 
text-align : center; 
font-style : normal; 
margin: 0 auto;
} 

.featuredb h2{ 
background-color:rgba(0, 0, 0, 0.6);
line-height: 500px;
width : 100%; 
color : #4775FF; 
text-decoration : none; 
font-size : 66px; 
font-family : Constantia; 
font-weight : Normal; 
text-align : center; 
font-style : normal; 
margin: 0 auto;
} 


.featureda h2:hover{ 
background-color:rgba(0, 0, 0, 0.0);

} 

.featuredb h2:hover{ 
background-color:rgba(0, 0, 0, 0.0);

} 


.featuredc { 
background:#ffffff;
min-height:600px;
width : 20%;
text-align:center;
overflow : hidden; 
margin-top:30px;
margin-bottom:30px;
display:inline-block;
} 


.featuredc:hover{ 
         
box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.0);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.0);
    border-radius : 8px;

} 

.featuredc p{ 
width : 95%; 
color : #555; 
margin-right : 10px;
text-decoration : none; 
font-size : 16px; 
font-family : arial; 
font-weight : normal; 
text-align : justify; 
font-style : normal; 
margin-left : 10px; 
margin-right : auto; 
margin-top : 15px; 
margin-bottom : 2px; 
} 

.featureimg { 
width: 90%;
padding:5px;
margin-left : auto; 
margin-right : auto;
display:inline-block;
margin-top:15px;
}

.cartimg { 
width: 30%;
padding:5px;

}


.login { 
width : 90%;
text-align:center;
overflow : hidden; 
text-align:center;
margin-left : auto; 
margin-right : auto;
display: inline-block;
padding: 15px;
margin-top: 60px;
border-style: solid;
    border-width: 1px;
border-color: #777;
box-shadow: 1px 10px 5px #666666;
border-radius : 8px;
} 

.footer
{
float:left;
background-color:#668;
overflow : hidden; 
width : 100%;
margin-left : auto; 
margin-right : auto;
margin-top:10px;
} 

.footerdiv
{
float:left;
overflow : hidden; 
width : 25%;
margin-left : auto; 
margin-right : auto;
text-align:center;
} 


.footerdiv p{ 
width : 100%; 
color : #ffffff; 
margin-right : 10px;
text-decoration : none; 
font-size : 16px; 
font-family : arial; 
font-weight : bold; 
text-align : center; 
font-style : normal; 
margin-left : 10px; 
margin-right : auto; 
margin-top : 15px; 
margin-bottom : 2px; 
} 

.fixedwidth {
	width:100px;
	margin:0 auto;
}

