<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="GENERATOR" content="Created by L. McCabe, D. Atanasova">

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tags %>
    
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<title>Charma Jewellery</title>


</head>

<body>







	<div class="header">
	
		<div class="contacts"><img class="contactimg" src="/assets/phone.jpg"  alt="an image"/><img class="contactimg" src="/assets/mail.jpg"  alt="an image"/><img class="contactimg" src="/assets/cart.png"  alt="an image"/>
		</div>
		
		<div class="logo">
		<img class="logoimg" src="/assets/LOGO_JPG.jpg"  alt="an image"/>
		</div>
		
		<div class="social">
		
		<div class="login">
			
			<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
		</div>
		
		<!-- Now if you change the css for the social image they will all change the same -->
		<img class="socialimg" src="/assets/fb.png"  alt="an image"/>
		<img class="socialimg" src="/assets/instagram.png"  alt="an image"/>
		<img class="socialimg" src="/assets/pinterest.png"  alt="an image"/>
		<img class="socialimg" src="/assets/tube.jpg"  alt="an image"/>
		</div>
		
		

	
	
	</div>

	
		<div class="wraper">
		<div class="rotator"><img class="rotatimg" src="/assets/main-1.png"  alt="an image"/></div>
		</div>
		
		<div class="wraper">
		
						<nav class="navwraper">
						<ul class="navwraper">
						<li class="nav"><a href="/">One</a></li>
						<li class="nav">Two</li>
						<li class="nav">Three</li>
						<li class="nav">Four</li>
						<li class="nav">Five</li>
						</ul>
						</nav>
							


	
	

	
	
	<%= yield %>
						
		
						
		

			
</div>


<div class="footer">
			<div class="footerdiv"><p>Bla Bla Bla<br><br>Bla Bla Bla<br><br>Bla Bla Bla<br><br>Bla Bla Bla<br></p></div>
			<div class="footerdiv"><p>Bla Bla Bla<br><br>Bla Bla Bla<br><br>Bla Bla Bla<br><br>Bla Bla Bla<br></p></div>
			<div class="footerdiv"><p>Bla Bla Bla<br><br>Bla Bla Bla<br><br>Bla Bla Bla<br><br>Bla Bla Bla<br></p></div>
			<div class="footerdiv"><p>Bla Bla Bla<br><br>Bla Bla Bla<br><br>Bla Bla Bla<br><br>Bla Bla Bla<br></p></div>


</div>
</body>

</html>



